@model CQRSCode.ReadModel.Dtos.InventoryItemDetailsDto
@{
    ViewBag.Title = "Details";
}
<h2>Details:</h2>
Id: @Model.Id<br/>
Name: @Model.Name<br/>
Count: @Model.CurrentCount<br/><br/>

@Html.ActionLink("Rename", "ChangeName", new {Model.Id})<br/>
@Html.ActionLink("Deactivate", "Deactivate", new {Model.Id, Model.Version})<br/>
@Html.ActionLink("Check in", "CheckIn", new {Model.Id})<br/>
@Html.ActionLink("Remove", "Remove", new {Model.Id, Model.Version})<br/><br/>
<a href="/">Back</a>